*~
.DS_Store

henm1314g3/hint.xml

henm1314g3/js/ExpertsManager.js

henm1314g3/js/jquery-2.1.1.js

*.PNG

*.PNG

henm1314g3/resources/view.PNG

henm1314g3/resources/Thumbs.db

henm1314g3/resources/settings.PNG

henm1314g3/resources/mrs.jpg

henm1314g3/resources/rwth.jpg

henm1314g3/resources/greta.jpg

henm1314g3/resources/grafia.jpg

henm1314g3/resources/email.PNG

henm1314g3/resources/boost.png

henm1314g3/learning_resource_widget_copy.xml

henm1314g3/learning_resource_widget_withWidget.xml

henm1314g3/resources/about.html

henm1314g3/resources/add2.PNG

henm1314g3/resources/agreement.html

henm1314g3/resources/asset.jpg

henm1314g3/resources/boost.gif
